.contacts {
}

.contacts-list {
  display: flex;
  justify-content: center;

  // .contacts-list__wrapper
  &__wrapper {
  }

  // .contacts-list__item
  &__item {
    max-width: 189px;
    min-height: 40px;
  }

  // .contacts-list__link
  &__link {
    font-size: 0;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #FFD74B;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
  }

  //.contacts-link--telephone
  .contacts-link--telephone {
    background-image: url('../img/topmenu-phone.svg');
  }

  //.contacts-link--mail
  .contacts-link--mail {
    background-image: url('../img/topmenu-mail.svg');
  }
}
