.contact {
  // .contact__item
  &__item {
    padding: 0px 0px 0px 5px;
    list-style-type: none;
    @media (min-width: $desktop) {
      padding: 0;
    }
  }
}

.contact-url {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #192144; 

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
  }

  span {
    @media (min-width: $desktop) {
      display: none;
    }
  } 

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;

    @media (min-width: $tablet) {
      width: 68px;
      height: 68px;
    }

    @media (min-width: $desktop) {
      width: 50px;
      height: 50px;
    }
  }

  & span {
    padding-left: 15px;
    @media (min-width: $tablet) {
      padding-left: 23px;
    }

  }

}

.contact-url--telephone {
  &::before {
    background-image: url('../img/contacts-phone.svg');
    background-size: 18px 18px;

    @media (min-width: $tablet) {
      background-size: 24px 23px;
    }
    @media (min-width: $desktop) {
      background-color: #FF8D30;
      background-image: url('../img/topmenu-phone.svg');
      background-size: 18px 18px;
    }
  }
}

.contact-url--email {
  text-transform: uppercase;
  &::before {
    background-image: url('../img/contacts-mail.svg');
    background-size: 18px 16px;
    @media (min-width: $tablet) {
      background-size: 28px 19px;
    }
    @media (min-width: $desktop) {
      background-color: #FFBD30;
      background-image: url('../img/topmenu-mail.svg');
      background-size: 16px 14px;
    }
  }
}
