.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;

  @media (min-width: $tablet) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.container--promo {
  background: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:  right 48px top 132px;
  background-size: 192px 255px;

  @media (min-width: $tablet) {
    background: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 109px top 273px;
  }

  @media (min-width: $desktop) {
    position: relative;
    background: url("../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right 405px top 0px;
    padding-bottom: 430px;
  }
}
