//.page-header
.page-header {
  background-color: $basic_blue;
  color: #ffffff;

  @media (min-width: $tablet) {
    background-color: #182044;
  }
  @media (min-width: $desktop) {
    background-color: #161c36;
  }
}