.page-nav {
  //.page-nav--scroll 
  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;

    @media (min-width: $tablet) {
      z-index: 10;
    }
  }
  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 27px;
  }
  // .page-nav__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: $tablet) {
      align-items: flex-start;
      text-align: left;
      position: relative;
      z-index: 10;
      padding: 0px 20px 0px 35px;
    }
    @media (min-width: $tablet) {
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  // .page-nav__logo-wrapper
  &__logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 19px 5px;

    @media (min-width: $tablet) {
    align-items: center;
      width: 50%;
    }
    @media (min-width: $desktop) {
      padding: 0;
      padding-right: 40px;
      width: auto;
      order: 1;
    }
  }

  // .page-nav__logo
  &__logo {
  }

  // .page-nav__toggler
  &__toggler {
    padding: 0;
    width: 25px;
    height: 18px;
    border: none;
    position: relative;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: #ffffff;
      border-radius: 1.5px;
    }

    &::before {
      top: 4px;
    }

    &::after {
      top: 12px;
    }
    @media (min-width: $desktop) {
      display: none;
    }
  }

  // .toggle--opened
  .toggler--opened.page-nav__toggler::before {
    top: 7px;
    left: 0;
    transform: rotate(45deg);
  }

  .toggler--opened.page-nav__toggler::after {
    top: 7px;
    left: 0;
    transform: rotate(-45deg);
  }

  .toggler--scroll.page-nav__toggler::before,
  .toggler--scroll.page-nav__toggler::after {
    background-color: #cccccc;
  }

  // .page-nav__button-wrapper
  &__button-wrapper {
    order: 2;

    @media (min-width: $tablet) {
      position: absolute;
      top: 15px;
      right: 40px;
      z-index: 10;
      display: block;
    }
    @media (min-width: $desktop) {
      position: static;
      order: 4;
    }
  }

  // .page-nav__auth-button
  &__auth-button {
  }

  // .page-nav__menu-wrapper
  &__menu-wrapper {
    padding: 46px 0px 52px 0px;
    order: 1;
    @media (min-width: $tablet) {
      margin: 24px 0px 35px 61px;
    }
    @media (min-width: $desktop) {
      margin: 0;
      padding: 0;
      display: block;
      order: 2;
    }
  }

  // .page-nav__list
  &__list {
    margin: 0;
    padding: 0;
    @media (min-width: $desktop) {
      display: flex;
    }
  }

  // .page-nav__list-item
  &__list-item {
    list-style-type: none;
    @media (min-width: $desktop) {
      margin-right: 34px;
    }
    &:first-child {
      position: relative;
      padding-left: 105px;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 60px;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }

  // .page-nav__list-link
  &__list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #192144;
    @media (min-width: $tablet) {
      font-size: 60px;
      line-height: 71px;
    }
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  //.page-nav__contacts-wrapper
  &__contacts-wrapper {
    padding: 49px 0px 30px 0px;
    order: 3;

    @media (min-width: $tablet) {
      margin: 0px 0px 0px 56px;
    }
    @media (min-width: $desktop) {
      margin: 0;
      padding: 0;
      margin-left: auto;
    }
  }

  // .page-nav__contacts
  &__contacts {
    margin: 0;
    padding: 0;
    text-align: left;

    @media (min-width: $tablet) {
      margin-bottom: 88px;
    }

    @media (min-width: $desktop) {
      margin: 0;
      padding: 0;
    }
  }

  // .page-nav__social
  &__social {
  }


  .page-nav--opened {
    display: block;
  }

  .page-nav__logo {
  }

  //.page-nav--color
  &--color {
    background-color: #ffffff;
  }
}

.page-nav__button-wrapper,
.page-nav__menu-wrapper,
.page-nav__contacts-wrapper {
  display: none;
  @media (min-width: $desktop) {
    display: block;
  }
}

.page-nav__button-wrapper{
  @media (min-width: $tablet) {
      display: block;
    }
}