.social {
  margin: 0;
  padding: 0;
  padding: 41px 0px 7px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-left: 30px;
    margin-bottom: 49px;
    justify-content: left;
  }
  // .social__item
  &__item {
    list-style-type: none;

    &:not(:last-child) {
      padding-right: 27px;

      @media (min-width: $tablet) {
        padding-right: 36px;
      }
    }
  }

  // .social__link
  &__link {
    opacity: .2;
  }

  // .social__link--facebook
  &__link--facebook {
  }

  // .social__icon
  &__icon {
  }

  // .social__icon--facebook
  &__icon--facebook {
    @media (min-width: $tablet) {
      width: 14px;
      height: 28px;
    }
  }

  // .social__link--vkontakte
  &__link--vkontakte {
  }

  // .social__icon--vkontakte
  &__icon--vkontakte {
    @media (min-width: $tablet) {
      width: 31px;
      height: 16px;
    }
  }

  // .social__link--insta
  &__link--insta {
  }

  // .social__icon--insta
  &__icon--insta {
    @media (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
