body {
  min-width: 280px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
