@import "global.scss";
@import "fonts.scss";
@import "variables.scss";

.sprite--none {
  display: none;
}

.page-nav--scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #ffffff;
}

.main-nav {
  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 4000px;
}

.page-header {
  background-color: $basic_blue;
  color: #ffffff;
}

.page-nav {
  // .page-nav__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  // .page-nav__logo-wrapper

  &__logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 19px 5px;
  }

  // .page-nav__logo

  &__logo {
  }

  // .page-nav__toggler

  &__toggler {
    padding: 0;
    width: 25px;
    height: 18px;
    border: none;
    position: relative;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: #ffffff;
      border-radius: 1.5px;
    }

    &::before {
      top: 4px;
    }

    &::after {
      top: 12px;
    }
  }

  // .toggle--opened
  .toggler--opened.page-nav__toggler::before {
    top: 7px;
    left: 0;
    transform: rotate(45deg);
  }

  .toggler--opened.page-nav__toggler::after {
    top: 7px;
    left: 0;
    transform: rotate(-45deg);
  }

  .toggler--scroll.page-nav__toggler::before,
  .toggler--scroll.page-nav__toggler::after {
    background-color: #cccccc;
  }

  // .page-nav__button-wrapper

  &__button-wrapper {
    order: 2;

  }

  // .page-nav__auth-button

  &__auth-button {
  }

  // .page-nav__menu-wrapper

  &__menu-wrapper {
    padding: 46px 0px 52px 0px;
    order: 1;
  }

  // .page-nav__list

  &__list {
    margin: 0;
    padding: 0;
  }

  // .page-nav__list-item

  &__list-item {
    list-style-type: none;
  }

  // .page-nav__list-link

  &__list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  text-transform: uppercase;

  color: #192144;
  }

  // .page-nav__contacts-wrapper

  &__contacts-wrapper {
    padding: 49px 0px 30px 0px;
    order: 3;
  }

  // .page-nav__contacts

  &__contacts {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  // .page-nav__social

  &__social {

  }
  .page-nav__button-wrapper,
  .page-nav__menu-wrapper,
  .page-nav__contacts-wrapper {
    display: none;
  }

  .page-nav--opened {
    display: block;
  }

}
  //.page-nav--color
  .page-nav--color {
    background-color: #ffffff;
  }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  position: relative;
  z-index: 110;
  // height: 4000px;
}

.logo {
  position: relative;
  width: 107px;
  height: 23px;
}

.logo--dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/logo-mobile-blue.png);
  background-color: #ffffff;
}

.page-nav__logo {

}

.logo-link__logo-image {
}

.visually-hidden {
}

.button {
  display: inline-block;
  padding: 12px 0px 12px 0px;
  width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;
  background: #FFD74B;
  color: $basic_blue;
}

.button--circle {
  border-radius: 25px;
}

.contacts {

}

.contact {

  // .contact__item

  &__item {
    padding: 0px 0px 0px 5px;
    list-style-type: none;
  }
}

.contact-url {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #192144;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  & span {
    padding-left: 20px;
  }
}

.contact-url--telephone {
  &::before {
    background-image: url('../img/contacts-phone.svg');
  }

}

.contact-url--email {
  text-transform: uppercase;
  &::before {
    background-image: url('../img/contacts-mail.svg');
  }
}

.social {
  margin: 0;
  padding: 0;
  padding: 40px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // .social__item

  &__item {
    padding-right: 10px;
    list-style-type: none;
  }

  // .social__link

  &__link {
  }

  // .social__link--facebook

  &__link--facebook {
  }

  // .social__icon

  &__icon {
  }

  // .social__icon--facebook

  &__icon--facebook {
  }

  // .social__link--vkontakte

  &__link--vkontakte {
  }

  // .social__icon--vkontakte

  &__icon--vkontakte {
  }

  // .social__link--insta

  &__link--insta {
  }

  // .social__icon--insta

  &__icon--insta {
  }
}

.promo {

  // .promo__heading

  &__heading {
  }

  // .promo__contacts-list

  &__contacts-list {
  }

  // .promo__quote-wrapper

  &__quote-wrapper {
  }

  // .promo__quote

  &__quote {
  }

  // .promo__quote-author

  &__quote-author {
  }

  // .promo__instruction-wrapper

  &__instruction-wrapper {
  }

  // .promo__instruction-list

  &__instruction-list {
  }

  // .promo__instruction-item

  &__instruction-item {
  }

  // .promo__instruction-text

  &__instruction-text {
  }
}

.heading {
}

.heading--h1 {
}

.contacts-list {

  // .contacts-list__wrapper

  &__wrapper {
  }

  // .contacts-list__item

  &__item {
  }

  // .contacts-list__link

  &__link {
  }
}
